<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinição de Senha</title>
  </head>
  <body>
    <h1>Redefinição de Senha</h1>
    <p>Olá {{name}},</p>
    <p>Clique no link abaixo para redefinir sua senha:</p>
    <a href="{{resetLink}}">Redefinir Senha</a>
    <p>Se você não solicitou a redefinição de senha, desconsidere este e-mail.</p>
  </body>
</html>